footer{
    background-color: nth($colores, 4);
    .footer-text{
        color: nth($colores, 8);
    };
    .mapa {
        width: nth($mapa, 1);
        height: nth($mapa, 2);
        border-radius: nth($mapa, 3);
    }
}
         
.bi {
    font-size: nth($size, 4);
    color: nth($colores, 8);
}
.bi-geo-alt{
    color: nth($colores, 1);
}  

